{% extends 'base.html.twig' %}
{% block importmap %}
    {{ importmap(['app', 'home']) }}
{% endblock %}
{% block title %}Catégories{% endblock %}

{% block body %}

    {# l'objet $categorie du "render" ne peut pas s'afficher simplement.
    - pour afficher l'objet en tant que tel : {{dump(category)}}
    - pour afficher la valeur d'une clé : {{ category.NOM_DE_LA_CLE }}. Ex : {{ category.name }}
    - SI la clé est une collection : exemple dans le {{dump(category)}} ---> -categories: Doctrine\ORM\PersistentCollection {#571 ▶}
        ALORS il faut obligatoirement boucler sur "category.categories" : {% for nom_de_variable in category.categories %}
        Car si on fait {{dump(category.categories)}}, on n'obtiendra pas grand chose, et on peut pas acceder au contenu de la collection
        et donc on peut faire cela :
         {% for prod in category.categories %}
            {{ dump(prod) }}
         {% endfor %}
    #}
<section class="sectionHomeCardsCategorys">
    <div class="titleCategorys">
        <h1>{{ category.name }}</h1>
    </div>

    <div class="">

        {% for subCat in category.categories %}
            <div class="blocCardCategory">
{#                <a href="{{ path('app_productsList', {slug:subCat.slug}) }}">#}
                <a href="{{ path('app_categorys', {slug:subCat.slug}) }}">
                    <div class="cardCategorys">
                        <div class="cardCategoryHeader">
                            <img src="{{ asset('images/categories/category-thumb.png') }}"
                                 alt="Image d'une catégories"/>
                        </div>
                        <div class="cardCategoryTitle">
                            <h3>{{ subCat.name }}</h3>
                        </div>
                    </div>
                </a>
            </div>

        {% endfor %}

    </div>
</section>
{% endblock %}
